<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll-Dice</title>
</head>
<body>
  <h1>Guess a number from 1 to 6</h1>
<!--  <form th:action="@{/roll-dice}" th:method="post">-->
<!--    <label for="guess">Enter the number</label>-->
<!--    <input type="number" id="guess" name="guess">-->
<!--    <button type="submit">Submit</button>-->
<!--  </form>-->
  <h1>
  <a href="/roll-dice/1">1</a>
  <a href="/roll-dice/2">2</a>
  <a href="/roll-dice/3">3</a>
  <a href="/roll-dice/4">4</a>
  <a href="/roll-dice/5">5</a>
  <a href="/roll-dice/6">6</a>
  </h1>
  <h1> You guessed:<div th:text="${n}"> </div></h1>
  <h1>Computer guessed:<div th:text="${random}"></div></h1>
  <h1 th:if="${n != null && n == random}">You guessed Correctly
  </h1>
  <h1 th:if="${n!= null && n != random}">You guessed Incorrectly
  </h1>
</body>
</html>